@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-color: lightcyan;
    background: #FFEFBA;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #FFEFBA);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main-container {
    max-width: 100%;
    height: 100vh;
    padding-top: 40px;
}

header {
    width: 100%;
    display: block;
}

header p {
    margin: 0;
    text-align: center;
    font-family: "Ubuntu" cursive;
    line-height: 60px;
}

header .title {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

header .sub-title {
    font-size: 25px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.747);
}

header .info-btn {
    position: absolute;
    top: 50px;
    right: 50px;
    right: 3%;
    color: #000;
    font-size: 30px;
    opacity: 0.4;
}

header .info-btn a {
    text-decoration: none;
}

header .info-btn:hover {
    opacity: 1;
}

.btn-container {
    min-height: 80%;
    min-width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn-container .btn-box {
    margin: 2.5%;
    text-align: center;
}

.btn-container .btn-box .site-btn {
    font-family: "Ubuntu" cursive;
    user-select: none;
    text-transform: uppercase;
    height: 200px;
    width: 200px;
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 800;
    color: black;
    border: 2px solid black;
    background-color: rgb(247, 152, 152);
    border-radius: 50%;
}

.btn-container .btn-box .site-btn:hover {
    color: #fff;
    background-color: rgb(253, 74, 89);
}

footer {
    min-width: 100%;
    color: #fff;
    background-color: #000;
    text-align: center;
}

footer p {
    margin: 0;
    font-family: "Ubuntu" serif;
    font-size: 1.25rem;
    letter-spacing: 1.5px;
}

footer p a {
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(66, 66, 247);
}

footer p a:hover {
    color: blue;
}

footer .footer-text1 {
    padding: 1% 0;
}

footer .footer-text2 {
    padding-bottom: 1%;
}

@media screen and (max-width:1199px) {
    .btn-container .btn-box .site-btn {
        height: 175px;
        width: 175px;
        font-size: 25px;
    }
}

@media screen and (max-width: 1070px) {
    header p {
        margin: 0;
        text-align: center;
        font-family: "Ubuntu" cursive;
        line-height: 50px;
    }
    header .title {
        font-size: 40px;
        font-weight: 700;
        letter-spacing: 0.5px;
    }
    header .sub-title {
        font-size: 20px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.747);
    }
    header .info-btn {
        right: 2%;
    }
    .btn-container {
        flex-wrap: wrap;
    }
}


/* Mobile-friendly */

@media (max-width: 750px) {
    .main-container {
        min-height: 100%;
    }
    header p {
        line-height: 40px;
    }
    header .title {
        font-size: 30px;
        letter-spacing: 0.5px;
    }
    header .sub-title {
        font-size: 15px;
    }
    header .info-btn {
        top: 10px;
        right: 10px;
        font-size: 20px;
    }
    .btn-container {
        display: grid;
        padding: 5% 0;
    }
    .btn-container .btn-box {
        margin: 5%;
    }
    .btn-container .btn-box .site-btn {
        font-size: 25px;
        font-weight: 800;
        height: 70px;
        width: 180px;
        border-radius: 0%;
    }
    footer p {
        margin: 0;
        font-family: "Ubuntu" serif;
        font-size: 15px;
    }
    footer p a {
        font-size: 16px;
    }
}


/* About page */

.about-container {
    padding: 40px;
    font-family: "Ubuntu", serif;
}

header .title {
    text-align: center;
}

.points-list {
    list-style: none;
    margin: 40px;
}

.points-list .point-title {
    font-size: 1.6rem;
    margin: 20px 0;
}

.point-title .fa {
    font-size: 1.1rem;
    margin-right: 10px;
}

.points-list .point-text {
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.msg-line {
    font-size: 1rem;
    color: rgb(68, 78, 88);
    font-style: italic;
    margin-left: 40px;
}

.home-link {
    color: #000;
}

.home-link:hover {
    color: rgba(0, 0, 0, 0.600);
}

.msg-line .home-link {
    color: red;
    font-size: 1.15rem;
}

@media (max-width: 750px) {
    .points-list .point-title {
        font-size: 1.2rem;
        margin: 20px 0;
    }
    .point-title .fa {
        font-size: 1rem;
        margin-right: 8px;
    }
    .points-list .point-text {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}